MLFLOW_TRACKING_PORT=15000

MLFLOW_POSTGRES_DB=mlflow
MLFLOW_POSTGRES_USER=mlflow
MLFLOW_POSTGRES_PASSWORD=mlflow
MLFLOW_POSTGRES_PORT=5433

MLFLOW_MINIO_API_PORT=19000
MLFLOW_MINIO_CONSOLE_PORT=19001
MLFLOW_S3_BUCKET=mlflow-artifacts
MLFLOW_S3_ACCESS_KEY_ID=mlflow
MLFLOW_S3_SECRET_ACCESS_KEY=mlflow-secret
